/*media*/

/*tel*/
@media all and (max-width: 480px){
    
}
/*tablette*/
@media (min-width:480px) and (max-width:780px){
    
}

@media (min-width:781px)and (max-width:979px){
    
}

@media screen and (max-width:1280px){
    #box-center{
        width: auto;
    }
    #nav{
        width: auto;
        text-align: left;
    }
    #nav ul{
        flex-direction: column;
    }
    #nav li{
        padding-left: 4px;
    }
    #nav a{
        font-size: 1.1em;
    }
    nav a:hover{
        border-bottom: 0;
    }
}