/*police*/
@font-face {
    font-family: 'segoe';
    src: url("./fonts/segoe.ttf") format("truetype");
}
@font-face {
    font-family: 'segoe-bold';
    src: url("./fonts/segoe-bold.ttf") format("truetype");
}
@font-face {
    font-family: 'segoe-light';
    src: url("./fonts/segoe-light.ttf") format("truetype");
}

/*fin police*/



.box-center {
    width: 1170px;
}

.box {   
    margin: 0 auto;
}

body
{
    margin: 0 auto;
    padding: 0;
    color: white;
    
    line-height: 24px;
    width: 1920px;
}

/*header*/

.top-bar {
    background-color: rgba(75,86,93,0.8);
}
.container {

    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 1em;
}
.header
{
    background-image: url(./images/fond.png);
    background-repeat: no-repeat;
    
    height: 800px;
    top
}

.titreblue
{
    font-family: 'segoe-bold';
    font-size: 30px;
    line-height: 24px;
    width: 20%;
}

.blu {
    color: #4bcaff;
}

nav{
    display: flex; 
    justify-content: space-between;
    font-family: 'segoe-bold';
    width: 50%;
}

a{
    text-decoration: none;
    color: white;
    padding: 11px 18px;
    border: solid rgba(0,0,0,0) 1px;
}

a:hover {
    color: #4bcaff;
    border: solid #4bcaff 1px;
}

.blue-text1 {
    font-family: 'segoe-light';
    text-transform: uppercase;
    font-size: 42px;
    background-color: rgba(75,86,93,0.8);
    text-align: center;
    padding: 11px 18px;
    width: 800px;
    margin-left: 30%;
    margin-top: 15%;
}
.blue-text2 {
    font-family: 'segoe-light';
    text-transform: uppercase;
    font-size: 42px;
    background-color: rgba(75,86,93,0.8);
    text-align: center;
    padding: 11px 18px;
    width: 1120px;
    margin-left: 20%;
    margin-top: -2%;
}

/*fin header*/

/*services*/

.services{
    background-color: #4bcaff;
    height: 406px;
    width: 100%;
}

.ligne1 {
    border-bottom: solid white 2px;
}
 h2{
    font-family: 'segoe-bold';
    font-size: 24px;
 }

 .menu-serv p{
    font-family: 'segoe';
    font-size: 12px;

 }
.titre-serv {
    padding-top: 70px;
    font-family: 'segoe-light';
    font-size: 30px;
}
.colonne {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.menu-serv {
    width: 220px;
    height: 64px;
    width: 258px;
    padding-bottom: 78px;
}

/*fin servives*/

/*portfolio*/

.portfolio {

    height: 844px;
    width: 100%;
}
.titrefolio {
    
    font-family: 'segoe-light';
    font-size: 30px;
    color: #515f67;
}

.ligne2 {
    border-bottom: solid black 2px;
}

.nav-folio {
    display: flex; 
    justify-content: space-between;
    font-family: 'segoe-bold';
    font-size: 14px;
    text-decoration: none;
    width: 50%;
}
.nav-folio a
{
    text-decoration: none;
    color: #515f67;
    padding: 11px 18px;
    border: solid rgba(0,0,0,0) 1px;
}
.nav-folio a:hover {
    color: #4bcaff;
    border: solid #4bcaff 1px;
}
.photofolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
img:hover {

}

/*fin folio*/

/*section*/

.section {
    background-color: #515f67;
    height: 471px;
    width: 100%;
}

.ligne2bis{
    border-bottom: solid white 2px;
}

.section p {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    
}
.section a {

    text-decoration: none;
    color: #3e4a51;
    padding: 8px 45px;
    border: solid rgba(0,0,0,0) 1px;
    font-family: 'segoe-bold';
    font-size: 14px;
    border: solid #3e4a51 3px;
}
.titre-sec {
    
    font-family: 'segoe-light';
    font-size: 30px;
    text-transform: uppercase;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: row;
}
.sectiontext {
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sectionvideo {
    margin-top: 320px;
}

.visit{
    font-size: 14px;
    font-family: 'segoe';
}


/*fin section*/

/*twitter*/

.twitter {
    background-color: #4bcaff;
    height: 306px;
    width: 100%;
}

.titre-twitter {
    text-transform: uppercase;
    font-family: 'segoe-light';
    font-size: 30px;
}

.twittertop{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.text-twit {
    font-family: 'segoe-light';
    font-size: 28px;
    line-height: 50px;
}

.ligne3 {
    border-bottom: solid white 2px;
}

/*fin twit*/

/*whoiam*/

.whoiam {
    height: 505px;
    background-image: url(./images/who.jpg);
    width: 100%;
}

.ligne4 {
    border-bottom: solid white 2px;
}

.whotop{
    padding-top: 101px;
    display: flex;
    justify-content: space-between;
    
}


.titre-who {    
    text-transform: uppercase;
    font-family: 'segoe-light';
    font-size: 30px;
}

.whoi {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'segoe';
}


.whoi1 {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'segoe';
    flex-direction: row;
    flex-wrap: nowrap;

}

.who1{
    height: 58px;
    width: 553px;
}
.who3{
    height: 58px;
    width: 553px;
}
.who2{
    padding-top: 40px;
    height: 58px;
    width: 553px;
}



.logo1111{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    
    
}


.logo1111 img {

    width: 64px;
    height: 64px;
    border: solid white 2px;
}

/* fin who*/

/*testimonials*/ /*hghghgfgfhg*/

.testimonials {
    text-decoration: none;
    color: #515f67;
    height: 360px;
    width: 100%;
}

.titre-testi {
    text-transform: uppercase;
    font-family: 'segoe-light';
    font-size: 30px;
}

.testitop{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.text-testi {
    font-family: 'segoe-light';
    font-size: 28px;
    line-height: 50px;
}

.ligne5 {
    border-bottom: solid black 2px;
}

.walter {
    text-decoration: none;
    color: #4bcaff;
    font-family: 'segoe-bold';
    font-size: 14px;
}

/*fin testi*/

/*formulaire*/

.formulaire{
    height: 813px;
    width: 100%;
    background-image: url(./images/footer.jpg);

}

.formtop{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.titre-form {    
    text-transform: uppercase;
    font-family: 'segoe-light';
    font-size: 30px;
}

.ligne6 {
    border-bottom: solid white 2px;
}

.tabform{
    padding-top: 73px;
    font-family: 'segoe-bold';
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.formulaire1{
    width: 464px;
    height: 60px;
    background-color: transparent;
    border: solid white 2px;
}

.formulaire2{
    width: 464px;
    height: 60px;
    background-color: transparent;
    border: solid white 2px;
}

.form12{
    flex-direction: column;
    
}

.textform{
    width: 538px;
    height: 190px;
    font-family: 'segoe';
    font-size: 14px;

}   

.form3{
    font-family: 'segoe-bold';
    font-size: 14px;
    padding-top: 60px;

}

.formulaire3{
    width: 1169px;
    height: 220px;
    background-color: transparent;
    border: solid white 2px;

}

.envoyer{
    width: 368px;
    height: 60px;
    font-family: 'segoe-bold';
    font-weight: bold;
    font-size: 14px;
    background-color: #4bcaff;
    color:white;

}

/*fin formulaire*/

/*footer*/

.footer{
    height: 170px;
    width: 100%;
    background-color: #353f47;
    justify-content: space-between;
    float: right;


}

.footer p{
    color: #4b5860;
    font-family: 'segoe-bold';
    font-size: 12px;
    align-items: flex-end;

}

.footer a{
    color: #4b5860;
    font-family: 'segoe-bold';
    font-size: 14px;

}

.fin{
    padding-top: 50px ;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}







    




















